<div class="page">
    <mat-accordion multi *ngIf="releasesList; else noData">
        <mat-expansion-panel class="panel" *ngFor="let releases of releasesList;">
            <mat-expansion-panel-header>
                <mat-panel-title>{{releases.name}}</mat-panel-title>
                <mat-panel-description>
                    Chart: {{releases.chart}}
                </mat-panel-description>
            </mat-expansion-panel-header>
            <table mat-table [dataSource]="releases.releases" class="full-width">
                <ng-container matColumnDef="namespace">
                    <th mat-header-cell *matHeaderCellDef> Namespace </th>
                    <td mat-cell *matCellDef="let element"> {{element.namespace}} </td>
                </ng-container>
                <ng-container matColumnDef="appVersion">
                    <th mat-header-cell *matHeaderCellDef> AppVersion </th>
                    <td mat-cell *matCellDef="let element"> {{element.appVersion}} </td>
                </ng-container>
                <ng-container matColumnDef="chartVersion">
                    <th mat-header-cell *matHeaderCellDef> ChartVersion </th>
                    <td mat-cell *matCellDef="let element"> {{element.chartVersion}} </td>
                </ng-container>
                <ng-container matColumnDef="clusterName">
                    <th mat-header-cell *matHeaderCellDef> Cluster </th>
                    <td mat-cell *matCellDef="let element"> {{element.clusterName}} </td>
                </ng-container>
                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef> Status </th>
                    <td mat-cell *matCellDef="let element"> {{element.status}} </td>
                </ng-container>
                <ng-container matColumnDef="upgrade">
                    <th mat-header-cell *matHeaderCellDef> Actions </th>
                    <td mat-cell *matCellDef="let element">
                        <button mat-icon-button>
                            <mat-icon color="accent" matTooltip="upgrade" (click)="upgradeDialog(element)">upgrade</mat-icon>
                        </button>
                        <button mat-icon-button>
                            <mat-icon color="warn" matTooltip="uninstall (not implemented)">delete</mat-icon>
                        </button>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="['clusterName', 'namespace', 'appVersion', 'chartVersion', 'status', 'upgrade']"></tr>
                <tr mat-row *matRowDef="let row; columns: ['clusterName', 'namespace', 'appVersion', 'chartVersion', 'status', 'upgrade'];"></tr>
            </table>
        </mat-expansion-panel>
    </mat-accordion>
    <ng-template #noData>
        <mat-spinner color="primary" style="margin: auto;"></mat-spinner>
    </ng-template>
</div>