<div class="page" *ngIf="run; else noData">
    <mat-vertical-stepper #stepper> 
        <div *ngFor="let step of run.steps">
            <mat-step>
                <ng-template matStepLabel>{{step.name}}</ng-template>
                <p *ngFor="let log of step.logs" [style]="log.level == 'ERROR' ? 'color:lightcoral;white-space:pre;' : 'white-space:pre;'">{{log.message}}</p>
            </mat-step>
        </div>
    </mat-vertical-stepper>
</div>
<ng-template #noData>
    <mat-spinner color="primary" class="page-spinner"></mat-spinner>
</ng-template>
