# docker/build support stuff
**/Dockerfile
**/.dockerignore
**/Makefile
**/.github

# ignore other repo stuff not needed
**/web/
**/deploy/
**/services/
**/test/

# misc
**/LICENSE
**/README.md
**/api/
**/docs/
**/**-debug-config.yaml
temp.yaml
