# docker/build support stuff
**/Dockerfile
**/.dockerignore
**/docker-compose*
**/Makefile
**/.github
**/.git
**/.gitignore

# ignore other repo stuff not needed
**/dist
**/TestResults
**/node_modules
**/npm-debug.log
**/proxy.conf.json
**/config.dev.json
deploy/
services/
test/

# misc
**/LICENSE
**/README.md
**/CHANGELOG.md
**/docs/
**/**-debug-config.yaml
temp.yaml
**/bin
**/.vscode
**/*.user
**/docker-compose.yaml
**/clients-config.json
