# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
**/main
**/bin
**/temp

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Chart stuff
deploy/boatswain/charts/
deploy/boatswain/Chart.lock

# Dev stuff - TODO AdamP figure out a way around this
**/**-debug-config.yaml
temp.yaml
**/__debug_bin

# Editor stuff
**/.vscode/