apiVersion: v2
name: boatswain
description: Chart for the boatswain deployment tool.

type: application
version: 0.8.9
appVersion: 0.8.9

dependencies:
  - name: kraken
    repository: file://../kraken
    version: "0.8.9"
    condition: kraken.enabled
  - name: gyarados
    repository: file://../gyarados
    version: "0.8.9"
    condition: gyarados.enabled
  - name: poseidon
    repository: file://../poseidon
    version: "0.8.9"
    condition: poseidon.enabled
  - name: mate
    repository: file://../mate
    version: "0.8.9"
    condition: mate.enabled
  - name: mongodb
    repository: https://charts.bitnami.com/bitnami
    version: "10.0.5"
    condition: mongodb.enabled
  - name: triton
    repository: file://../triton
    version: "0.8.9"
    condition: triton.enabled
