<div class="page" *ngIf="approvals;else noData">
    <mat-table [dataSource]="approvals" class="full-width">
        <ng-container matColumnDef="nameSearch">
            <mat-header-cell *matHeaderCellDef>
                <mat-form-field>
                    <input matInput (keyup)="applyFilter('name', $event.target.value)" placeholder="filter name">
                </mat-form-field>
            </mat-header-cell>
        </ng-container>
        <ng-container matColumnDef="runSearch">
            <mat-header-cell *matHeaderCellDef>
                <mat-form-field>
                    <input matInput (keyup)="applyFilter('runName', $event.target.value)" placeholder="filter run">
                </mat-form-field>
            </mat-header-cell>
        </ng-container>
        <ng-container matColumnDef="versionSearch">
            <mat-header-cell *matHeaderCellDef>
                <mat-form-field>
                    <input matInput (keyup)="applyFilter('runVersion', $event.target.value)" placeholder="filter version">
                </mat-form-field>
            </mat-header-cell>
        </ng-container>
        <ng-container matColumnDef="stepSearch">
            <mat-header-cell *matHeaderCellDef>
                <mat-form-field>
                    <input matInput (keyup)="applyFilter('stepName', $event.target.value)" placeholder="filter step">
                </mat-form-field>
            </mat-header-cell>
        </ng-container>
        <ng-container matColumnDef="empty">
            <mat-header-cell *matHeaderCellDef>
            </mat-header-cell>
        </ng-container>
        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef> name </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="run">
            <mat-header-cell *matHeaderCellDef> Run </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.runName}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="version">
            <mat-header-cell *matHeaderCellDef> Version </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.runVersion}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="step">
            <mat-header-cell *matHeaderCellDef> Step </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.stepName}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let element">
                <button mat-button color="accent" style="margin-left: 5px;" (click)="approval(element, true, false)">Approve</button>
                <button mat-button color="warn" style="margin-left: 5px;" (click)="approval(element, false, false)">Reject</button>
                <button *ngIf="auth.isAdmin()" mat-button color="primary" style="margin-left: 5px;" (click)="approval(element, true, true)">Override</button>
            </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="['name', 'run', 'version', 'step', 'actions']; sticky: true"></mat-header-row>
        <mat-header-row *matHeaderRowDef="['nameSearch', 'runSearch', 'versionSearch', 'stepSearch', 'empty']; sticky: true"></mat-header-row>
        <mat-row *matRowDef="let row; columns: ['name', 'run', 'version', 'step', 'actions'];"></mat-row>
    </mat-table>
</div>
<ng-template #noData>
    <mat-spinner color="primary" class="page-spinner"></mat-spinner>
</ng-template>
