.action-button
    margin-left: 10px
    float: right
    font-size: 12px
    line-height: 20px

.table-scroll
    max-height: 500px
    overflow-y: scroll

.shrink-button
    height: 15px
    width: 15px
    float: left
    vertical-align: middle
    margin: 0
    margin-top: 2px
    margin-left: 10px
    &::ng-deep .mat-button-wrapper
        line-height: 10px
        padding: 0
        margin: 0
        .mat-icon
            font-size: 10px
            padding: 0
            margin: 0
            float: inline-start

