<div class="page" *ngIf="repos; else noData">
    <div class="right-button">
        <button mat-raised-button color="accent" (click)="add()">
            <mat-icon>add</mat-icon>
            Add
        </button>
    </div>
    <mat-accordion>
        <mat-expansion-panel class="panel" *ngFor="let repo of repos">
            <mat-expansion-panel-header>
                <mat-panel-title>{{repo.name}}</mat-panel-title>
                <mat-panel-description>
                    <span class="spacer"></span>
                    Endpoint: {{repo.endpoint}}
                    <span style="width:100px;"></span>
                    Status: 
                    <button mat-mini-fab class="shrink-button" [ngClass]="{'status-online':repo.ready,'status-offline':!repo.ready}"></button>
                    <span style="width:100px;"></span>
                    <button mat-raised-button color="accent" class="action-button" (click)="edit(repo);$event.stopPropagation();">
                        <mat-icon>edit</mat-icon>
                        Edit
                    </button>
                    <button mat-raised-button color="warn" class="action-button" (click)="delete(repo);$event.stopPropagation();">
                        <mat-icon>delete</mat-icon>
                        Delete
                    </button>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <ng-template matExpansionPanelContent>
                <mat-accordion *ngIf="repo.ready; else notReady">
                    <mat-expansion-panel *ngFor="let list of charts.get(repo);">
                        <mat-expansion-panel-header>
                            <mat-panel-title>{{list.name}}</mat-panel-title>
                        </mat-expansion-panel-header>
                        <ng-template matExpansionPanelContent>
                            <div class="table-scroll">
                                <table mat-table [dataSource]="list.versions" class="full-width">
                                    <ng-container matColumnDef="chartVersion">
                                        <th mat-header-cell *matHeaderCellDef> Chart Version </th>
                                        <td mat-cell *matCellDef="let element"> {{element.chartVersion}} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="appVersion">
                                        <th mat-header-cell *matHeaderCellDef> App Version </th>
                                        <td mat-cell *matCellDef="let element"> {{element.appVersion}} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="description">
                                        <th mat-header-cell *matHeaderCellDef> Description </th>
                                        <td mat-cell *matCellDef="let element"> {{element.description}} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="url">
                                        <th mat-header-cell *matHeaderCellDef> Download </th>
                                        <td mat-cell *matCellDef="let element">
                                            <a href="{{element.url}}" mat-button>
                                                <mat-icon color="accent">link</mat-icon>
                                            </a>
                                        </td>
                                    </ng-container>
                                    <tr mat-header-row *matHeaderRowDef="['chartVersion', 'appVersion', 'description', 'url']"></tr>
                                    <tr mat-row *matRowDef="let row; columns: ['chartVersion', 'appVersion', 'description', 'url'];"></tr>
                                </table>
                            </div>
                        </ng-template>
                    </mat-expansion-panel>
                </mat-accordion>

            </ng-template>
            <ng-template #notReady>
                <button mat-button disabled>Repo Offline</button>
            </ng-template>
        </mat-expansion-panel>
    </mat-accordion>
</div>
<ng-template #noData>
    <mat-spinner color="primary" class="page-spinner"></mat-spinner>
</ng-template>