<div mat-dialog-title>
    <mat-toolbar color="secondary">
        <span>
            Upgrade {{name}} in {{release.clusterName}}
        </span>
        <span class="spacer"></span>
        <button mat-icon-button mat-dialog-close aria-label="close" tabindex="-1">
            <mat-icon color="warn">close</mat-icon>
        </button>
    </mat-toolbar>
</div>
<div mat-dialog-content style="margin: 10px;">
    <form [formGroup]="upgradeForm">
        <mat-form-field appearance="standard">
            <mat-label>Repository</mat-label>
            <mat-select required formControlName="repo">
                <mat-option *ngFor="let repo of repos;" value="{{repo.name}}" [disabled]="!repo.ready"
                    (onSelectionChange)="repoUpdated(repo)">{{repo.name}}</mat-option>
            </mat-select>
        </mat-form-field>
        <br />
        <mat-form-field appearance="standard">
            <mat-label>Chart</mat-label>
            <mat-select required formControlName="chart">
                <mat-option value=""></mat-option>
                <mat-option *ngFor="let chart of charts" value="{{chart.name}}"
                    (onSelectionChange)="chartUpdated(chart)">{{chart.name}}</mat-option>
            </mat-select>
        </mat-form-field>
        <br />
        <mat-form-field appearance="standard">
            <mat-label>Chart Version</mat-label>
            <mat-select required formControlName="chartVersion">
                <mat-option value=""></mat-option>
                <mat-option *ngFor="let version of versions" value="{{version.chartVersion}}"
                    (onSelectionChange)="chartVersionUpdated()">
                    {{version.chartVersion}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <br />
        <mat-form-field appearance="standard">
            <mat-label>App Version</mat-label>
            <input matInput formControlName="appVersion">
        </mat-form-field>
        <br />
        <mat-form-field appearance="standard" style="width:100%;resize:none;">
            <mat-label>Additional Values</mat-label>
            <textarea matInput formControlName="additionalValues"
                      cdkTextareaAutosize
                      cdkAutosizeMinRows="10"
                      cdkAutosizeMaxRows="10"
                      placeholder="Enter additional values..."></textarea>
        </mat-form-field>
    </form>
    <br />
</div>
<div mat-dialog-actions  style="margin: 10px;">
    <button mat-button color="accent" style="width:49%;">Submit</button>
    <button mat-button mat-dialog-close color="warn" style="width:49%;">Cancel</button>
</div>