<div mat-dialog-title>
    <mat-toolbar color="secondary">
        <span>
            {{title}}
        </span>
        <span class="spacer"></span>
        <button mat-icon-button mat-dialog-close aria-label="close" tabindex="-1">
            <mat-icon color="warn">close</mat-icon>
        </button>
    </mat-toolbar>
</div>
<div mat-dialog-content style="margin: 10px;">
    <form [formGroup]="repoForm" (keydown)="enter($event)">
        <mat-form-field appearance="fill" style="width:66%;">
            <mat-label>Name</mat-label>
            <input matInput required formControlName="name" />
        </mat-form-field>
        <br />
        <mat-form-field appearance="fill" style="width:100%;">
            <mat-label>Endpoint</mat-label>
            <input matInput required formControlName="endpoint" />
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-select [(value)]="authType" placeholder="Auth Type (Optional)">
                <mat-option [value]="'none'">none</mat-option>
                <mat-option [value]="'token'">token</mat-option>
                <mat-option [value]="'basic'">basic</mat-option>
            </mat-select>
        </mat-form-field>
        <br />
        <mat-form-field *ngIf="authType == 'token'" appearance="fill" style="width:100%;">
            <mat-label>Token</mat-label>
            <input matInput formControlName="token" />
            <br />
        </mat-form-field>
        <mat-form-field *ngIf="authType == 'basic'" appearance="fill" style="width:100%;">
            <mat-label>Username</mat-label>
            <input matInput formControlName="username" />
            <br />
        </mat-form-field>
        <mat-form-field *ngIf="authType == 'basic'" appearance="fill" style="width:100%;">
            <mat-label>Password</mat-label>
            <input type="password" matInput formControlName="password" />
            <br />
        </mat-form-field>
        <mat-form-field>
            <mat-select required placeholder="Type" formControlName="type">
                <mat-option *ngFor="let type of repoTypes" [value]="type">
                    {{type.replace("_REPO", "")}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <br />
        <mat-checkbox *ngIf="repoForm.controls['type'].value == 'HELM'" [formControl]="repoForm.controls['oci']">OCI</mat-checkbox>
    </form>
    <br />
</div>
<div mat-dialog-actions  style="margin: 10px;">
    <button mat-raised-button color="accent" style="width:49%;" (click)="submit()" [disabled]="!this.repoForm.valid">Submit</button>
    <button mat-raised-button mat-dialog-close color="warn" style="width:49%;">Cancel</button>
</div>