<mat-toolbar color="primary">
    <button mat-button aria-label="Main menu" [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="" routerLinkActive="active">Home</button>
        <button mat-menu-item routerLink="clusters" routerLinkActive="active">Clusters</button>
        <button mat-menu-item routerLink="releases" routerLinkActive="active">Releases</button>
        <button mat-menu-item routerLink="repos" routerLinkActive="active">Repositories</button>
    </mat-menu>
    <span>Boatswain (bow·sn) Triton</span>
    <span class="spacer"></span>
    <span>{{page}}</span>    
    <span class="spacer"></span>
    <a href="" mat-button aria-label="Documentation">
        <mat-icon>help</mat-icon>
        Documentation
    </a>
    <a href="https://github.com/RedSailTechnologies/boatswain" mat-button aria-label="Github">
        <mat-icon>link</mat-icon>
        Github
    </a>
</mat-toolbar>
<router-outlet></router-outlet>
