<mat-toolbar color="primary">
    <button mat-button aria-label="Main menu" (click)="toggleSideNav()">
        <mat-icon>menu</mat-icon>
    </button>
    <span>Boatswain (bow·sn) Triton</span>
    <span class="spacer"></span>
    <span>{{page}}</span>    
    <span class="spacer"></span>
    <a mat-button [disabled]="true" class="nohover" aria-label="User">
        <mat-icon>{{userIcon == 'login' ? '' : 'person' }}</mat-icon>
        {{userIcon == 'login' ? '' : userProfile.given_name }}
    </a>
    <a (click)="clickLoginButton()" mat-button aria-label="Login">
        <mat-icon>{{userIcon}}</mat-icon>
        {{userIcon == 'login' ? 'Login' : 'Logout' }}
    </a>
    <mat-divider [vertical]="true" style="height:50%;margin:10px;"></mat-divider>
    <app-theme-picker></app-theme-picker>
    <a href="https://redsailtechnologies.github.io/boatswain/" mat-button aria-label="Documentation">
        <mat-icon>help</mat-icon>
        Docs
    </a>
    <a href="https://github.com/RedSailTechnologies/boatswain" mat-button aria-label="Github">
        <mat-icon>link</mat-icon>
        Github
    </a>
</mat-toolbar>
<mat-sidenav-container style="position:fixed;height:100%;width:100%;">
    <mat-sidenav mode="side" [opened]="sideNav">
        <div style="margin: 0 20px 0 20px">
            <mat-nav-list>
                <br/>
                Home
                <a mat-list-item routerLink="" routerLinkActive="active" aria-label="home" (click)="toggleSideNav()">Home</a>
                <mat-divider></mat-divider>
                <br/>
                Status
                <a mat-list-item routerLink="clusters" routerLinkActive="active" aria-label="clusters" (click)="toggleSideNav()">Clusters</a>
                <a mat-list-item routerLink="repos" routerLinkActive="active" aria-label="repos" (click)="toggleSideNav()">Repos</a>
                <mat-divider></mat-divider>
                <br/>
                Apps
                <a mat-list-item routerLink="projects" routerLinkActive="active" aria-label="projects" (click)="toggleSideNav()">Projects</a>
                <a mat-list-item routerLink="applications" routerLinkActive="active" aria-label="applications" (click)="toggleSideNav()">Applications</a>
                <mat-divider></mat-divider>
                <br/>
                Delivery
                <a mat-list-item aria-label="deliveries">Deliveries</a>
                <a mat-list-item aria-label="templates">Templates</a>
            </mat-nav-list>
        </div>
    </mat-sidenav>
    <mat-sidenav-content>
        <ng-scrollbar class="my-scroller">
            <router-outlet></router-outlet>
        </ng-scrollbar>
    </mat-sidenav-content>
</mat-sidenav-container>
