{{- if .Values.global.mongodb.auth.existingSecret }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Values.mongodb.auth.existingSecret }}
  labels:
    helm.sh/chart: {{ include "gyarados.chart" . }}
    {{- if .Values.global.partOf }}
    app.kubernetes.io/part-of: {{ .Values.global.partOf }}
    {{- end }}
    app.kubernetes.io/name: {{ .Chart.Name }}
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/version: {{ .Chart.AppVersion | quote }}
    app.kubernetes.io/managed-by: {{ .Release.Service }}
type: Opaque
data:
  mongodb-root-password:  {{ .Values.global.mongodb.rootPassword | toString | b64enc | quote }}
{{- end }}
