<div class="page" *ngIf="projects; else noData">
    <mat-accordion>
        <mat-expansion-panel class="panel" *ngFor="let project of projects">
            <mat-expansion-panel-header>
                <mat-panel-title>Project: {{project.name}}</mat-panel-title>
            </mat-expansion-panel-header>
            <ng-template matExpansionPanelContent>
                <table mat-table [dataSource]="project.applications" class="full-width">
                    <ng-container matColumnDef="app">
                        <th mat-header-cell *matHeaderCellDef> Application </th>
                        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                    </ng-container>
                    <ng-container matColumnDef="clusters">
                        <th mat-header-cell *matHeaderCellDef> Clusters </th>
                        <td mat-cell *matCellDef="let element"> {{element.clusters.join(', ')}} </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="['app', 'clusters']"></tr>
                    <tr mat-row *matRowDef="let row; columns: ['app', 'clusters'];"></tr>
                </table>
            </ng-template>
        </mat-expansion-panel>
    </mat-accordion>
</div>
<ng-template #noData>
    <mat-spinner color="primary" class="page-spinner"></mat-spinner>
</ng-template>
