.action-button
    margin-left: 10px
    float: right
    font-size: 12px
    line-height: 20px

.shrink-button
    height: 25px
    width: 25px
    float: left
    vertical-align: middle
    &::ng-deep .mat-button-wrapper
        line-height: 20px
        padding: 0
        margin: 0
        .mat-icon
            font-size: 20px
            padding: 0
            margin: 0
            float: inline-start
