<div class="page" *ngIf="clusters;else noData">
    <div class="right-button">
        <button [disabled]="!auth.isAdmin()" mat-raised-button color="accent" (click)="add()">
            <mat-icon>add</mat-icon>
            Add
        </button>
    </div>
    <mat-table [dataSource]="clusters" class="full-width">
        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="status">
            <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
            <mat-cell *matCellDef="let element">
                <button mat-mini-fab class="shrink-button" [ngClass]="{'status-online':element.ready,'status-offline':!element.ready}"></button>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let element">
                <button mat-raised-button [disabled]="!auth.isAdmin()" color="warn" class="action-button" (click)="delete(element)">
                    <mat-icon>delete</mat-icon>
                    Delete
                </button>
                <button mat-raised-button [disabled]="!auth.isAdmin()" color="accent" class="action-button" (click)="edit(element)">
                    <mat-icon>edit</mat-icon>
                    Edit
                </button>
                <button mat-raised-button [disabled]="!auth.isAdmin()" color="primary" class="action-button" (click)="token(element)">
                    <mat-icon>sync</mat-icon>
                    Register
                </button>
            </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="['name', 'status', 'actions']; sticky: true"></mat-header-row>>
        <mat-row *matRowDef="let row; columns: ['name', 'status', 'actions'];"></mat-row>>
    </mat-table>
</div>
<ng-template #noData>
    <mat-spinner color="primary" class="page-spinner"></mat-spinner>
</ng-template>
