.panel
    margin-left: 5%
    margin-right: 5%

.shrink-button
    height: 15px
    width: 15px
    margin: 2px
    margin-left: 10px

.status-offline
    background-color: red

.status-online
    background-color: green

.table
    width: 100%