apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "tentacle.fullname" . }}
  labels:
    {{- include "tentacle.labels" . | nindent 4 }}
spec:
  replicas: 1
  selector:
    matchLabels:
      {{- include "tentacle.selectorLabels" . | nindent 6 }}
  template:
    metadata:
    {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
    {{- end }}
      labels:
        {{- include "tentacle.selectorLabels" . | nindent 8 }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "tentacle.fullname" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          env:
            - name: BOSN_URL
              value: {{ .Values.config.bosnURL }}
            - name: CLUSTER_UUID
              value: {{ .Values.config.clusterUUID }}
            - name: TIMEOUT
              value: {{ .Values.config.timeout }}
          ports:
            - name: http
              containerPort: 8080
              protocol: TCP
          # livenessProbe:
          #   exec:
          #     command:
          #       - sh
          #       - -c
          #       - 'wget -O- --post-data=''{}'' --header=''Content-Type:application/json'' http://localhost:8080/health/redsail.bosn.Health/Live'
          # readinessProbe:
          #   exec:
          #     command:
          #       - sh
          #       - -c
          #       - 'wget -O- --post-data=''{}'' --header=''Content-Type:application/json'' http://localhost:8080/health/redsail.bosn.Health/Ready'
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
