name: Develop

on:
  push:
    branches: [ 'main' ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v2
      - name: setup docker
        id: buildx
        uses: docker/setup-buildx-action@v1
        with:
          install: true
      - name: dockerhub login
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: install go
        uses: actions/setup-go@v2
        with:
          go-version: '^1.15'
      - name: install protoc
        uses: arduino/setup-protoc@v1
        with:
          version: '3.x'
      - name: make init
        run: make init
      - name: make test
        run: make test
      - name: make build and make push
        run: make build && make push
        env:
          DOCKER_REPO: redsailtechnologies/bosn-
