name: Development CI

on:
  push:
    branches: [ 'main', 'feature/*' ] # TODO AdamP - remove feature
  create:
    tags: [ 'v*' ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: set vesrion
        id: version
        run: |
          echo "$GITHUB_EVENT_NAME";
          echo ${{ github.event_name }};
          echo "::set-output name=TEST::"
      - name: test getting env
        run: echo ${{ steps.set.outputs.TEST }}
      - name: checkout
        uses: actions/checkout@v2
      - name: setup docker
        id: buildx
        uses: docker/setup-buildx-action@v1
        with:
          install: true
      - name: dockerhub login
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: install go
        uses: actions/setup-go@v2
        with:
          go-version: '^1.15'
      - name: install protoc
        uses: arduino/setup-protoc@v1
        with:
          version: '3.x'
      - name: make init
        run: make init
      - name: make test
        run: make test
      - name: make build
        run: make build
        env:
          DOCKER_REPO: redsailtechnologies/bosn-
