name: Release

on:
  create:
    tags: [ 'v*' ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v2
      - name: set version
        id: version
        run: echo "::set-output name=VERSION::$(make version)"
      - name: setup docker
        id: buildx
        uses: docker/setup-buildx-action@v1
        with:
          install: true
      - name: dockerhub login
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: install go
        uses: actions/setup-go@v2
        with:
          go-version: '^1.15'
      - name: install protoc
        uses: arduino/setup-protoc@v1
        with:
          version: '3.x'
      - name: init
        run: make init
      - name: test
        run: make test
      - name: build and push
        run: |
          make build DOCKER_REPO=redsailtechnologies/bosn- DOCKER_TAG=${{ steps.version.outputs.VERSION }};
          make push DOCKER_REPO=redsailtechnologies/bosn- DOCKER_TAG=${{ steps.version.outputs.VERSION }};
  publish:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v2
      - name: set version
        id: version
        run: echo "::set-output name=VERSION::$(make version)"
      - name: set changed
        id: changes
        run: echo "::set-output name=CHANGES::$(make changes)"
      - name: make package
        run: make package HELM_OUT=helm-${{ steps.version.outputs.VERSION }}
      - name: checkout helm charts
        uses: actions/checkout@v2
        with:
          repository: RedSailTechnologies/helm
          path: helm-charts
      - name: update charts
        run: |
          ls helm-${{ steps.version.outputs.VERSION }} | xargs -i cp -f ${{ steps.version.outputs.VERSION }}/{} helm-charts/charts/;
          helm repo index helm-charts;
          git config --local user.email "action@github.com";
          git config --local user.name "GitHub Action";
          cd helm-charts && git commit -m "Boatswain ${{ steps.version.outputs.VERSION }}" -a;
      - name: push updated charts
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: main
          directory: helm-charts
