name: Test

on:
  pull_request:
    branches: [ 'main' ]
  push:
    branches: [ 'main' ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v2
      - name: setup docker
        id: buildx
        uses: docker/setup-buildx-action@v1
        with:
          install: true
      - name: install go
        uses: actions/setup-go@v2
        with:
          go-version: '^1.15'
      - name: install protoc
        uses: arduino/setup-protoc@v1
        with:
          version: '3.x'
      - name: init
        run: make init
      - name: test
        run: make test TEST_OUT=func
